arrow==0.10.0
beautifulsoup4==4.6.0
blessed==1.14.2
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
diffhtml==0.1.1
dj-database-url==0.4.2
Django==1.11.6
django-appconf==1.0.2
django-compressor==2.2
django-crispy-forms==1.7.0
django-debug-toolbar==1.8
django-environ==0.4.4
django-picklefield==1.0.0
django-q==0.8.1
idna==2.6
MarkupSafe==1.0
python-dateutil==2.6.1
python-dotenv==0.7.1
pytz==2017.2
rcssmin==1.0.6
requests==2.18.4
rjsmin==1.0.12
six==1.11.0
sqlparse==0.2.4
urllib3==1.22
wcwidth==0.1.7
